/* PC */
@media (min-width: 64em) {
  .menu {
    display: none;
  }
}

/* Tablet */
@media (max-width: 63.9375em) and (min-width: 46.25em) {
  .menu {
    display: block;
  }
  .header {
    background-color: var(--skyblue-color);
    margin: 0;
  }
  .header__logo {
    color: var(--white-color);
    text-align: center;
    margin-left: 16px;
  }

  .header__navbar {
    display: none;
  }

  .container__banner-body {
    font-size: 6rem;
  }
  .container__banner-btn-left {
    transform: translateY(-150%);
  }
  .container__banner-btn-right {
    transform: translateY(-150%);
  }
  .container__tour {
    overflow: hidden;
  }
  .grid__col-2-5 {
    width: 50%;
  }
  .container__video-main {
    width: 100%;
  }
  .container__banner-body {
    margin-top: 12px;
    margin-bottom: 20px;
  }
  .container__banner-text {
    width: 60%;
  }

  .content__banner {
    top: 20%;
  }

  .container__resorts-name {
    font-size: 2.8rem;
  }

  .container__reviews-content {
    display: block;
  }

  .tour-item {
    margin: 12px 0 0 12px;
  }

  .grid__col-2-3 {
    width: 90%;
    margin: auto;
  }

  .grid__col-2-4 {
    width: 50%;
  }

  .footer__list-item {
    margin-right: 12px;
  }

  .tour-item {
    width: 100%;
    margin-right: 12px;
  }

  .grid__full {
    flex-wrap: wrap;
  }

  .container__reviews-btn {
    display: none;
  }

  .container__reviews-img {
    width: 25% !important;
  }

  .container__reviews-item:nth-child(2) {
    margin: 12px 0;
  }
}

/* Tablet & Mobile */
@media (max-width: 63.9375em) {
}

/* Mobile */
@media (max-width: 46.1875em) {
  .container__holiday-heading {
    width: 100%;
  }
  .container__holiday-title {
    font-size: 5rem;
  }
  .container__holiday-item {
    padding: 0;
  }
  .container__holiday-content {
    display: flex;
    flex-wrap: wrap;
  }
  .container__banner-text {
    width: 100%;
  }
  .container__reviews-heading {
    width: 100%;
  }
  .container__time-list {
    display: flex;
    flex-wrap: wrap;
  }
  .container__resorts-text {
    width: 100%;
  }
  .container__resorts-body {
    display: flex;
    flex-wrap: wrap;
  }
  .grid__row {
    display: flex;
    flex-wrap: wrap;
  }
  .grid__col-2-5 {
    width: 100%;
  }
  .grid__col-2-3 {
    width: 100%;
  }

  .tour-item {
    width: 100%;
    margin: 0 12px;
  }

  .grid__full {
    flex-wrap: wrap;
  }

  .container__video-main {
    width: 100%;
  }

  .container__reviews-content {
    flex-wrap: wrap;
  }

  .container__reviews-item:nth-child(2) {
    margin: 24px 0;
  }

  .container__reviews-img {
    width: 25% !important;
  }

  .container__resorts {
    width: 100%;
  }

  .container__resorts-name {
    width: 50%;
    top: 25%;
    font-size: 3rem;
    text-align: center;
  }

  .grid__col-2-4 {
    width: 100%;
  }
  .footer-heading {
    margin-top: 12px;
  }

  .container__banner-body {
    font-size: 4.5rem;
  }

  .header {
    background-color: var(--skyblue-color);
    margin: 0;
  }

  .header__logo {
    margin-left: 24px;
  }

  .header__navbar {
    display: none;
  }

  .container__reviews-item:nth-child(2) {
    margin: 12px 0;
  }
  .container__banner-body {
    margin: 0 0 16px 0;
  }
  .button {
    top: 100%;
    transform: translateY(20%);
  }

  .prev,
  .next {
    width: 50px;
    height: 50px;
  }
  .mobile_navbar {
    top: calc(10% + 6px);
  }
}
